@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.anonymous-pro-regular {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: normal;
  }
  
  .anonymous-pro-bold {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: normal;
  }
  
  .anonymous-pro-regular-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 400;
    font-style: italic;
  }
  
  .anonymous-pro-bold-italic {
    font-family: "Anonymous Pro", monospace;
    font-weight: 700;
    font-style: italic;
  }

  :root {
    --mint: #48DBA0;
  }

* {
    font-family:  "Anonymous Pro", Arial, sans-serif;
    color: #FFFFFF;
    background-color: #191919;
    list-style-type: none;
  }

.highlight {
    color: var(--mint);
}

.strike {
  text-decoration-line: line-through;
}

#banner {
    background-color: #f344446c;
}

a {
  text-decoration: none;
}